#
# Ansible inventory for installing a standalone OCP registry
#

# Create an OSEv3 group that contains the masters and nodes groups
[OSEv3:children]
masters
nodes

# Set variables common for all OSEv3 hosts
[OSEv3:vars]

# SSH user, this user should allow ssh based auth without requiring a password
ansible_ssh_user=root

openshift_master_default_subdomain={{ master_default_subdomain }}

# If ansible_ssh_user is not root, ansible_become must be set to true
#ansible_become=true

deployment_type=openshift-enterprise
deployment_subtype=registry

# Configure the Identity Provider to use, driven by 'id_provider_type' possible values are:
# id_provider_type="" -> Insecure
# id_provider_type="HTPasswd" -> HTPassword provider
# id_provider_type="LDAP" -> LDAP provider
{% if id_provider_type != '' %}openshift_master_identity_providers=[{"identityProviders":[{% if id_provider_type == 'HTPasswd' %}{'name': 'htpasswd_auth', 'login': 'true', 'challenge': 'true', 'kind': 'HTPasswdPasswordIdentityProvider', 'filename': '{{ htpasswd_filename }}'},{% elif id_provider_type == 'LDAP' %}{"name": "default_ldap_provider","challenge": true,"login": true,"mappingMethod": "claim","provider": {"apiVersion": "v1","kind": "LDAPPasswordIdentityProvider","attributes": {"id": ["dn"],"email": ["mail"],"name": ["cn"],"preferredUsername": ["uid"]},"bindDN": "","bindPassword": "","ca": "{{ ldap_certificate_file }}","insecure": "{{ ldap_insecure }}","url": "{{ ldap_url }}"}},{% endif %}}]{% endif %}

# host group for masters
[masters]
{{ registry_host_names }}

# host group for nodes, includes region info
[nodes]
{{ registry_host_names }} openshift_node_labels="{'region': 'infra', 'zone': 'default'}" openshift_schedulable=true
